<p style="color: green"><%= notice %></p>

<h1>Programming Languages</h1>

<div id="programming_languages">
  <% @programming_languages.each do |programming_language| %>
    <%= render partial: 'programming_language', locals: { programming_language: programming_language } %>
  <% end %>
</div>

<%= link_to 'New Programming Language', new_programming_language_path %>
